/* CSS files add styling rules to your content
https://hartfordhealthcare.org/about-us/news-press/news-detail?articleid=26936&publicId=395
 */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

div.lowrisk1{
color: 	#bfff00;
}

div.lowrisk2{
color: #ffff00;
}

div.highrisk9{
  color: #ff0000;
}
